<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.VECOM"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome4Activity"
            android:exported="false" />
        <activity
            android:name=".Welcome3Activity"
            android:exported="false" />
        <activity
            android:name=".Welcome2Activity"
            android:exported="false" />
        <activity
            android:name=".Welcome1Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForumActivity"
            android:exported="false" />
        <activity
            android:name=".PINHandlerActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".MyProductsActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalStoreActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalActivity"
            android:exported="false" />
        <activity
            android:name=".FollowOrderActivity"
            android:exported="false" />
        <activity
            android:name=".OrderManagerActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".OrderInformationActivity"
            android:exported="false" />
        <activity
            android:name=".AddToCartActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"></activity>
    </application>

</manifest>